<html>
	<h1>
		{{ .title }}
	</h1>
  <ol>
    <li><a href="/ping">Ping Example</a></li>
    <li><a href="/httpRedirect">HTTP Redirect</a></li>
    <li><a href="/routerRedirect">Router Redirect</a></li>
    <li><a href="/cookie">Cookie Example</a></li>
    <li><a href="/welcome">Query Parameter Example</a></li>
    <li><a href="/v1/login">Grouping Example: Login V1</a></li>
    <li><a href="/v2/login">Grouping Example: Login V2</a></li>
  </ol>
</html>
